# Dependencies
/node_modules

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Environment variables
.env
.env.development
.env.test
.env.production

# Temp directories
.temp
.tmp
/tmp
/build
/dist
/coverage

# IDE settings
vscode/
*.code-workspace